@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background-color: rgba(128, 128, 128, 0.334);
    color: black;
}

.footer{
    background: linear-gradient(to bottom, white 20%,#545e3e8e);
}
.soon{
    background: linear-gradient(to bottom, black 40%, white);
    color: transparent;
    background-clip: text;
}