@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: font1;
    src: url("/fonts/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e410.woff2");
}

@font-face {
    font-family: font2;
    src: url("/fonts/futura_n5.5632c6d8a6da9141ef40e51d14264a007bcae7e5.woff2");
}



::selection{
    background-color: rgba(128, 128, 128, 0.334);
    color: black;
}

.footer{
    background: linear-gradient(to bottom, white 20%,#545e3e8e);
}
.soon{
    background: linear-gradient(to bottom, black 40%, white);
    color: transparent;
    background-clip: text;
}